<div class="flex flex-row h-screen w-full">
  <div class="flex flex-1 h-full">
    <div class="h-full w-full block flex-none">
      <div class="h-full" id="map"></div>
    </div>
  </div>
  <div class="flex-grow-0 h-full w-64 bg-slate-100 p-2 flex flex-col">
    <h3 class="flex-grow-0 mb-1">Coordinate list:</h3>
    <form [formGroup]="coordinateOutputTypeForm" class="flex flex-row gap-2">
      <label>
        <input type="radio" value="json" formControlName="format" />
        <span class="ml-1">json</span>
      </label>
      <label>
        <input type="radio" value="csv" formControlName="format" />
        <span class="ml-1">csv</span>
      </label>
    </form>

    <textarea
      *ngIf="coordinateOutputType() === 'json'"
      readonly="readonly"
      class="flex-grow w-full p-1 resize-none text-sm"
      >{{ coordinatesJson() }}</textarea
    >
    <textarea
      *ngIf="coordinateOutputType() === 'csv'"
      readonly="readonly"
      class="flex-grow w-full p-1 resize-none text-sm"
      >{{ coordinatesCsv() }}</textarea
    >
  </div>
</div>
