<div class="flex flex-row h-screen w-full bg-sky-50 text-slate-800">
  <div class="flex flex-1 h-full p-2 pr-0">
    <div class="h-full w-full block flex-none">
      <div class="h-full shadow-md rounded-md" id="map"></div>
    </div>
  </div>
  <div class="flex-grow-0 h-full w-64 p-2 flex flex-col gap-2">
    <form
      [formGroup]="coordinateOutputTypeForm"
      class="flex flex-row gap-2 p-1 shadow-md rounded-md bg-sky-100 justify-center"
    >
      <label>Format:</label>
      <label>
        <input type="radio" value="json" formControlName="format" />
        <span class="ml-1">JSON</span>
      </label>
      <label>
        <input type="radio" value="csv" formControlName="format" />
        <span class="ml-1">CSV</span>
      </label>
    </form>

    <div class="flex flex-row gap-2 p-0 justify-between text-center">
      <div
        class="flex-1 p-1 bg-sky-200 shadow-md rounded-md select-none cursor-pointer"
      >
        <button (click)="copyToClipboard()">
          Copy&nbsp;&nbsp;<fa-icon [icon]="faCopy"></fa-icon>
        </button>
      </div>
      <div
        class="flex-1 p-1 bg-gray-50 text-gray-300 shadow-md rounded-md select-none"
      >
        <button #resetButton disabled>
          Reset&nbsp;&nbsp;<fa-icon [icon]="faTrashCan"></fa-icon>
        </button>
      </div>
    </div>

    <textarea
      #textAreaJson
      *ngIf="coordinateOutputType() === 'json'"
      readonly="readonly"
      class="flex-grow w-full p-1 resize-none text-xs border-none outline-none shadow-md rounded-md"
      >{{ coordinatesJson() }}</textarea
    >
    <textarea
      #textAreaCsv
      *ngIf="coordinateOutputType() === 'csv'"
      readonly="readonly"
      class="flex-grow w-full p-1 resize-none text-sm border-none outline-none shadow-md rounded-md"
      >{{ coordinatesCsv() }}</textarea
    >

    <div class="flex flex-row gap-2 p-0 justify-between text-center">
      <div
        class="flex-1 p-1 bg-sky-200 shadow-md rounded-md select-none cursor-pointer"
      >
        <a
          href="https://github.com/miccou/click-for-coordinates"
          target="_blank"
          >GitHub&nbsp;&nbsp;<fa-icon [icon]="faGithub"></fa-icon
        ></a>
      </div>
    </div>
  </div>
</div>
